@media screen and (min-width:1200px) {
    .about-us-inner1 {
        background-image: url(../img/_RMZ3127.png);
        background-size: cover;
         width: 100%;
         height: 1000px;
         font-size: 32px;
     }
     .frame-wrapper1 {
         width: 939px;
         height: 238px;
     }
     .frame-wrapper2 {
        
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
     }
     .the-next-level-living-experien-parent {
         background-color: rgba(255, 237, 216, 0.74);
         border: 1px solid #000;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         padding: 24px 0px;
         gap: 72px;
     }
     .the-level{
        
        font-family: 'Playfair Display';

     }
     .about-roma-park{
        
        font-size: 24px;
        font-weight: 500;
        font-family: 'Playfair Display';
        color: #583101;
        text-align: left
     }
     .about-us4 {
        font-size: 56px;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        font-family: 'Playfair Display';
    }
    .frame-container {
        width: 1382px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 107px;
    }

    .frame-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .learn-more-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
    }
    .about-us-parent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
    }
    .line-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .welcome-to-the {
    
        
    }
    .rmz3005-icon {
        align-self: right;
        width: 80%;
        height: auto;
        }
        .the-neighborhood{
            position: relative;
            font-size: 40px;
            font-weight: 500;
            font-family: 'Playfair Display';
            color: #121619;
            text-align: left;
        }
        .our-luxurious-apartments-container {
           
            font-size: 20px;
            font-family:'Playfair Display';
            display: inline-block;
            
        }

        .frame-parent4 {
           
            gap: 32px;
            color: #121619;
            font-family: Poppins;
        }

        .frame-parent5 {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 64px;
        }

        .the-retreat-resturant-parent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 4px;
        }
        .our-services {
            position: relative;
        }

        .nearby-plcces {
            color: #121619;
        }

        .nearby-places {
            padding: 24px 0px;
            gap: 16px;
        }

        .nearby-places-parent {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 24px;
            color: #583101;
        }

        .easy-access-to {
    width: 1146px;
    position: relative;
    font-size: 20px;
    font-family: Poppins;
    display: inline-block;
}

.our-luxurious-apartments-are{
    color: #121619;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.para{
    color: #121619;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
.at-the-level{
    color: #121619;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
.whether-youre-seeking {
    color: #121619;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal 
}
}


@media screen and ((max-width: 768px)) {
    
    .about-us-inner1 {
        background-image: url(../img/_RMZ3127.png);
        background-size: cover;
         max-width: 100%;
         height: 1000px;
         font-size: 32px;
     }
     .frame-wrapper1 {
         width: 100%;
         height: 238px;
     }
     .frame-wrapper2 {
        
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
     }
     .the-next-level-living-experien-parent {
         background-color: rgba(255, 237, 216, 0.74);
         border: 1px solid #000;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         padding: 24px 0px;
         gap: 72px;
     }

     .the-neighborhood{
        position: relative;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Playfair Display';
        color: #121619;
        text-align: left;
    }
    .our-luxurious-apartments-container {
        width: 934px;
        position: relative;
        font-size: 20px;
        font-family:'Playfair Display';
        display: inline-block;
        
    }

    .frame-parent4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        color: #121619;
        font-family: Poppins;
    }

    .frame-parent5 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 64px;
    }

    .the-retreat-resturant-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4px;
    }
    .our-services {
        position: relative;
    }
    .nearby-plcces {
        color: #121619;
    }

    .nearby-places {
        padding: 24px 0px;
        gap: 16px;
    }
    .ulendo-icon {
    width: 222px;
    position: relative;
    height: 222px;
    object-fit: cover;
    
}

.nearby-places-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    color: #583101;
}
.our-luxurious-apartments-are{
    color: #121619;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.para{
    color: #121619;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
  }

  @media screen and ((max-width: 540px)) {
    .shopping-group{
        display: flex;
        
        align-items: center;
    }
   
  }