
.body-btn {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #583101;
    width: fit-content;
    color: #FFEDD8;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.about-us-inner1 {

    height: 100%;
    font-size: 32px;
}

.frame-wrapper1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
    padding: 28px;
}

.frame-wrapper2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.the-next-level-living-experien-parent {
    background-color: rgba(255, 237, 216, 0.74);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0px;
    gap: 72px;
}

.the-level {

    font-family: 'Playfair Display';

}

.about-roma-park {

    font-size: 24px;
    font-weight: 300;
    font-family: 'Playfair Display';
    color: #583101;
    text-align: left
}

.about-us4 {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    font-family: 'Playfair Display';
}

.frame-container {
    width: 1382px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 107px;
}

.frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.learn-more-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.about-us-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.line-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.welcome-to-the {
    position: relative;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Playfair Display';
    color: #121619;
    text-align: left;
}

.rmz3005-icon {
    align-self: right;
    width: 80%;
    height: auto;
}

.the-neighborhood {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: #121619;
    text-align: left;
}

.our-luxurious-apartments-container {

    font-size: 18px;
    font-family: 'Playfair Display';
    display: inline-block;

}

.frame-parent4 {

    gap: 32px;
    color: #121619;
    font-family: Poppins;
}

.frame-parent5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
}

.the-retreat-resturant-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.our-services {
    position: relative;
}

.nearby-plcces {
    color: #121619;
}

.nearby-places {
    padding: 24px 0px;
    gap: 16px;
}

.nearby-places-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    color: #583101;
}

.easy-access-to {

    position: relative;
    font-size: 18px;
    font-family: Poppins;
    display: inline-block;
}

.our-luxurious-apartments-are {
    color: #121619;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.para {
    color: #121619;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.at-the-level {
    color: #121619;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.whether-youre-seeking {
    color: #121619;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}


@media screen and ((max-width: 768px)) {

    .frame-wrapper2 {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(3%, 1%);
    }

    .the-next-level-living-experien-parent {
        background-color: rgba(255, 237, 216, 0.74);
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 24px 0px;
        gap: 50px;
    }

    .the-neighborhood {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Playfair Display';
        color: #121619;
        text-align: left;
    }

    .our-luxurious-apartments-container {
        width: 934px;
        position: relative;
        font-size: 20px;
        font-family: 'Playfair Display';
        display: inline-block;

    }

    .frame-parent4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        color: #121619;
        font-family: Poppins;
    }

    .frame-parent5 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 64px;
    }

    .the-retreat-resturant-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4px;
    }

    .our-services {
        position: relative;
    }

    .nearby-plcces {
        color: #121619;
    }

    .nearby-places {
        padding: 24px 0px;
        gap: 16px;
    }

    .ulendo-icon {
        width: 222px;
        position: relative;
        height: 222px;
        object-fit: cover;

    }

    .nearby-places-parent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        color: #583101;
    }

    .our-luxurious-apartments-are {
        color: #121619;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .para {
        color: #121619;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal
    }

    .frame-wrapper2 {

        width: 600px;
    }
}



@media (max-width: 576px) {

    .shopping-group {
        display: flex;

        align-items: center;
    }
    .frame-wrapper2 {
        width: 100%;
        
        transform: translate(6%, 1%);
        /* Further reduce the gap */
    }

    .the-next-level-living-experien-parent {
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }

    .ready-to-experience {
        font-size: 10px;
        /* Adjust paragraph font size for better readability */
    }

    .about-us4 {
        font-size: 10px;
        font-weight: 100;
        text-align: center;
        display: inline-block;
        font-family: 'Playfair Display';
    }
}