
.hero-bg{
    background-image: url(../img/_RMZ3121.png);
    background-position: center;
    height: 600px;
}
.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* Assuming white text for contrast */
}

.welcome-text,
.take-a-tour {
    margin-bottom: 1rem;
}

.take-a-tour img {
    width: 20px;
    /* Adjust size as needed */
    margin-left: 0.5rem;
}

.get-luxury-and {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: #ffedd8;

}

.welcome-to-the {
    width: 939px;
    position: relative;
    font-size: 56px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: #ffedd8;
    text-align: center;
    display: inline-block;
}

.form-inner-container {
    background-color: #583101;
    width: 90%;
    margin-top: -110px !important;
    z-index: 10;
}
.btn-column{
    text-align: center;
    align-content: center;
}
.btn-col{
    border: 1px solid #FFEDD8;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    color: #FFEDD8;
    font-size: 20px;
}
form input,select{
    background-color: #583101;
    border: none;
}
form label,option{
    color: #FFEDD8;
    font-size: 20px;
    font-family: Poppins;
}
.white-placeholder{
    color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
    opacity: 1;
  }

  
.about-hd {
    font-family: play-fair;
    color: #583101;
    font-size: 24px;
    gap: 120;
}

.line-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.frame-child {
    width: 112px;
    position: relative;
    border-top: 1px solid #583101;
    box-sizing: border-box;
    height: 1px;
}

.frame-item {
    width: 24px;
    position: relative;
    height: 24px;
}

.group-child {
    width: 80%;
    /* Ensure it takes full width of the container */
}

.group-item {
    width: 40%;
    /* Adjust the size to be smaller than group-child */
    height: 20%;
    top: 40%;
    /* Adjust the top position as needed */
    left: -7%;
    /* Adjust the left position as needed */
    z-index: 1;
    /* Ensure it's in front of group-child */
}

.parags p {
    color: #121619;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.indulge-in-the-container {
    width: 766px;
    position: relative;
    font-size: 18px;
    font-family: Poppins;
    color: #121619;
    text-align: left;
    display: inline-block;
}

.our-choice {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: #583101;
    text-align: left;
}

.line-div {
    width: 112px;
    position: relative;
    border-top: 1px solid #583101;
    box-sizing: border-box;
    height: 1px;
}

.polygon-icon {


    height: 24px;
}

.stunning-2-bedroom {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Playfair Display';
    color: #583101;
    text-align: left;
}

.view-more-option-parent {
    margin: 0 !important;

    background-color: #a75e30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    gap: 8px;
    z-index: 2;
    font-size: 20px;
    color: #ffedd8;
}

.body-btn {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #583101;
    width: fit-content;
    color: #FFEDD8;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.bed-lux {
    width: 1354px;
    position: relative;
    height: 904px;
    font-size: 20px;
    color: #fff;
    font-family: 'Playfair Display';
}

.image1-wrapper {
    position: relative;
    top: 0px;
    left: 450px;
    width: 904px;
    height: 599px;
}

.image1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 904px;
    height: 599px;
    overflow: hidden;
}

.rmz3127-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 968px;
    height: 644px;
    object-fit: cover;
}

.bed-lux-child {
    position: absolute;
    top: 0.04px;
    left: 0px;
    width: 434px;
    height: 608px;
    overflow: hidden;
    object-fit: cover;
}

.bed-lux-item {
    position: absolute;
    top: 624.04px;
    left: 928px;
    width: 426px;
    height: 280px;
    overflow: hidden;
    object-fit: cover;
}

.bed-lux-inner {
    position: absolute;
    top: 624.04px;
    left: 450px;
    width: 462px;
    height: 280px;
    overflow: hidden;
    object-fit: cover;
}

.image1-icon3 {
    position: absolute;
    top: 623.96px;
    left: 0px;
    width: 434px;
    height: 280px;
    overflow: hidden;
    object-fit: cover;
}



.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1rem;
    font-family: 'Playfair Display';
}

.experience-the-pinnacle {

    position: relative;
    font-size: 18px;
    font-family: Poppins;
    color: #121619;
    text-align: left;
    display: inline-block;
}

.featured-offer {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: #583101;
    text-align: left;
}

.bedroom-luxe-apartments {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Playfair Display';
    color: #121619;
    text-align: left;
}

.frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 0px;
    gap: 16px;
}

.our-choice-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.our-spaces-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.faqs-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.our-spaces {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: #583101;
    text-align: left;
}

.check-our-surrounding-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 40px;
    color: #121619;
}

.discover-the-unparalleled {
    width: 934px;
    position: relative;
    font-size: 18px;
    font-family: Poppins;
    display: inline-block;
}

.frame-inner {
    width: 174px;
    position: relative;
    border-top: 2px solid #583101;
    box-sizing: border-box;
    height: 2px;
}

.frame-child1 {
    width: 1141px;
    position: relative;
    border-top: 1px solid #583101;
    box-sizing: border-box;
    height: 1px;
}

.does-the-level {
    width: 795px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: #121619;
    text-align: left;
    display: inline-block;
}

.how-many-bedrooms {
    width: 795px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: #121619;
    text-align: left;
    display: inline-block;
}

.add-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.have-more-questions {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: #583101;
    text-align: left;
}

.contact-us-parent {
    background-color: #a75e30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    gap: 8px;
    color: #ffedd8;
}

.faqs {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Playfair Display';
    color: #583101;
    text-align: left;
}

.check-our-surrounding {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Playfair Display';
    color: #121619;
    text-align: left;
    }


/* */
@media (max-width: 1200px) {
    .welcome-to-the {
        font-size: 48px;
        width: 800px;
    }

    .get-luxury-and {
        font-size: 28px;
    }
}

@media (max-width: 992px) {
    .welcome-to-the {
        font-size: 40px;
        width: 700px;
    }

    .get-luxury-and {
        font-size: 24px;
    }

    .bed-lux {
        width: 100%;
        height: auto;
        font-size: 16px;
    }

    .image1-wrapper,
    .image1,
    .rmz3127-icon,
    .bed-lux-child,
    .bed-lux-item,
    .bed-lux-inner,
    .image1-icon3 {
        position: static;
        /* Reset positioning */
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        /* Add space between images */
    }

    .image1-wrapper,
    .bed-lux-child,
    .bed-lux-inner,
    .image1-icon3 {
        order: 1;
        /* Ensure proper stacking order */
    }

    .image1-wrapper img,
    .bed-lux-child img,
    .bed-lux-item img,
    .bed-lux-inner img,
    .image1-icon3 img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .master-room,
    .luxe-room,
    .family-luxe,
    .premium-room,
    .couple-simple-room {
        text-align: center;
        margin-bottom: 1rem;
    }

}
@media screen and (max-width:768px) {

    .welcome-to-the {
        font-size: 32px;
        width: 550px;
    }
    .hero-bg{
        height: 300px;
    }
    .get-luxury-and {
        font-size: 20px;
    }

    .col-md-6.position-relative.d-none.d-md-block {
        display: block !important;
    }

    .group-div {
        justify-content: center;
    }

    .group-item {
        width: 50%;
        /* Make it larger on smaller screens */
        top: 50%;
        /* Adjust the top position as needed */
        left: -8%;
        /* Adjust the left position as needed */
    }

    .about {
        margin-bottom: 15%;
    }

    .bed-lux {
        font-size: 14px;
    }

}

@media (max-width: 576px) {
    .welcome-to-the {
        font-size: 24px;
        width: 100%;
        padding: 0 20px;
        /* Add some padding for better readability */
    }

    .get-luxury-and {
        font-size: 18px;
    }

    .form-inner-container {
        display: flex;
        flex-direction: column;
    }

    .bed-lux {
        font-size: 12px;
    }

    .discover-the-unparalleled {
        width: 100%;
    }
}