.header-container{
margin-bottom: 150PX;
}
h2{
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  font-style: italic;
    color: #ffffff ;
    font-size: 68px;
    text-shadow: #00000026;
}
.container{
  margin-top: 50px;
}

.container .overlap-group {
  margin-top: -175px;
  max-width: 780px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 4px 30px -5px #00000026;
  border-top: 20px solid #583101;
}

.container .text-wrapper-10 {
  font-family: "Raleway", Helvetica;
  font-weight: 600;
  color: #7c6a46;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .p {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #121619;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle{
  width: 100%;
  height: auto; 
  border-radius: 20px;
}

#video{
  position: relative;
  width: 100%; /* Adjust according to your video size */
  height: auto;
  margin-top: 50px;
}

#playButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite alternate; /* Add animation */
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
#playButton::before {
  font-size: 2em;
  display: block;
  color: black;
  line-height: 80px;
  text-align: center;
}
