.header-container{
height: 1000px;
background-image: url(../img/video.svg);
background-size: cover;
background-position: bottom;
margin-bottom: 150PX;
}
h2{
  font-family: "Playfair Display", Helvetica;
  font-weight: 500;
  font-style: italic;
    color: #ffffff ;
    font-size: 68px;
    text-shadow: #00000026;
}
.container{
  margin-top: 50px;
}

.container .overlap-group {
  margin-top: -175px;
  max-width: 780px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 4px 30px -5px #00000026;
  border-top: 20px solid #7c6a46;
}

.container .text-wrapper-10 {
  font-family: "Raleway", Helvetica;
  font-weight: 600;
  color: #7c6a46;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .p {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #121619;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle{
  width: 100%;
  height: auto; 
}